@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  float: right;
}
.pagination > li {
  gap: 10px;
  padding: 0 0.4rem;
}
.pagination > li a {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination > li.previous a,
.pagination > li.next a,
.pagination > li.break a {
  border-color: transparent;
}
.pagination > li.active a {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  min-width: 32px;
}
.pagination > li.disabled a {
  color: grey;
}
.pagination > li.disable,
.pagination > li.disabled a {
  cursor: default;
}
